#home {
    li {
        .item {
            flex-grow: 1;
            display: flex;
            border-top: 2px solid black;
            padding-top: 10px;
            header {
                display: flex;
                flex-direction: column;
                min-width: 180px;
                // max-width: 180px;
                height: fit-content;
                background-color: blue;
                box-shadow: -5px -5px purple;
                padding-left: 10px;
                padding-bottom: 10px;
                float: left;
                .imageContainer {
                    min-width: 180px;
                    height: 100%;
                    position: absolute;
                    z-index: -1;
                    translate: -10px 5px;
                }
                // align-items: center;
                // justify-content: space-between;
            }
            .stageRight {
                display: flex;
                flex-direction: column;
                max-width: 900px;
                width: 100%;
                margin: 0 auto;
                flex-grow: 1;
                .description {
                    padding: 8px 35px;
                    flex-grow: 1;
                }
                button {
                    align-self: center;
                    justify-self: flex-end;
                }
            }
        }
    }
}
