#verboseLogger {
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: inset 0px 0px 40px
        rgb(198, 180, 180);
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
}
