#verboseLogger {
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;

    width: fit-content;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    h3,
    p {
        display: inline;
    }
    span {
        margin-right: 10px;
    }
}
