#dashboard {
    transition: all 0.5s;
    overflow-x: hidden;
    header {
        display: flex;
        // justify-content: space-between;
        margin: 20px;
        svg {
            border-radius: 50%;
            transform: translateX(-2px);
            cursor: pointer;
            &.add:hover {
                transition: all 0.5s;
                background-color: transparent;
                box-shadow: 0px 0px 23px
                    rgb(0, 0, 255);
            }
        }
    }
    ul {
        padding: 0;
        margin: 0 20px;
        list-style-type: none;
        li {
            display: flex;
            padding: 10px;
            margin: 10px 4px 10px 2px;
            transition: all 0.5s;
            position: relative;
            overflow-x: hidden;
            svg {
                opacity: 0;
                transition: all 0.5s;
            }
            &.active {
                svg {
                    opacity: 1;
                }
            }
            &:hover,
            &.active {
                cursor: pointer;
                box-shadow: 0px 0px 6px black;
                transform: translateY(-5px);
            }
            .statusContainer {
                // position: absolute;
                right: 3px;
                top: 3px;
                display: flex;
                align-items: center;
                p {
                    padding: 0 5px;
                }
                .dot {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    transition: all 4.5s;
                }
            }
            .title {
                flex-grow: 1;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    .filter {
        scale: 0.8;
        margin-left: 10px;
    }
    .add {
        margin-left: auto;
    }
}
button.dashboard {
    position: absolute;
    right: -62px;
    top: 22px;
    z-index: 10;
    &.publish {
        right: -121px;
    }
}
.logout {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#verboseLogger.deployContainer {
    bottom: initial;
    right: initial;
    top: -20px;
    z-index: 2;
    position: absolute;
    // white-space;
}
